/bin
.DS_Store

*.class

# Package Files #
*.war
*.ear

*.pyc

/.settings/
/target

.project
.pydevproject

# Emacs backup files
*~

.checkstyle

#Content from utils/ui/.gitignore
*.pyc
*~

#Content from utils/ui/webapp/static/data/.gitignore
tmp

