[project]
	description = The OpenVirteX Virtualization Platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ali Al-Shabibi (alshabib)
[access "refs/for/refs/*"]
	read = group user/Ali Al-Shabibi (alshabib)
	push = group user/Ali Al-Shabibi (alshabib)
	label-Code-Review = -2..+2 group user/Ali Al-Shabibi (alshabib)
	label-Verified = -1..+1 group user/Ali Al-Shabibi (alshabib)
	rebase = group user/Ali Al-Shabibi (alshabib)
	removeReviewer = group user/Ali Al-Shabibi (alshabib)
	submit = group user/Ali Al-Shabibi (alshabib)
[access "refs/heads/*"]
	read = group user/Ali Al-Shabibi (alshabib)
	create = group user/Ali Al-Shabibi (alshabib)
	push = +force group user/Ali Al-Shabibi (alshabib)
	pushMerge = group user/Ali Al-Shabibi (alshabib)
[access "refs/tags/*"]
	push = +force group user/Ali Al-Shabibi (alshabib)
	pushTag = group user/Ali Al-Shabibi (alshabib)
	pushSignedTag = group user/Ali Al-Shabibi (alshabib)
[receive]
	requireChangeId = true
